VITE_SUPABASE_URL=https://perlbmalzuhyvtkkpclz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlcmxibWFsenVoeXZ0a2twY2x6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDg3NDEsImV4cCI6MjA5MzkyNDc0MX0.IerW05QFKG73RiwWkrY0DKIYPty-5vcobypgMbJC-GQ
